<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<div class="container" style="padding-left:0">
 <%= link_to "Edit", edit_article_path(@article),class:"btn btn-warning" %>
 <%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } ,class:"btn btn-danger"%>
</div>
<br>
<%= link_to "All Articles", root_path, class:"btn btn-info"%>
